<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gov.va.medora.mdws.test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="gov.va.medora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <spring>

    <context name="spring.root">
      <!-- using section in App.config -->
      <resource uri="config://spring/objects"/>
      <!-- information that can be checked into SVN go in this file-->
      <resource uri="../../resources/xml/testObjects.xml"/>
      <resource uri="../../resources/xml/vehuTestObjects.xml"/>
      <!-- private/secret data that shouldn't go into SVN go into this file. -->
      <!-- see testObjects.xml for how to refer to the secret data. -->
      <resource uri="../../resources/xml/secret-testObjects.xml"/>
    </context>

    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
    </objects>

  </spring>

  <!-- For additional log outputs, add the appenders, and then the appender-ref element to the logger -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger{2} - %message%newline"/>
      </layout>
    </appender>

    <!--<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">-->
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="http-appender-test.log"/>
      <appendToFile value="false"/>
      <!--<maximumFileSize value="100KB" />-->
      <!--<maxSizeRollBackups value="2" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger{2} - %message%newline"/>
      </layout>
    </appender>
    <!--
    <appender name="TracAppender" type="gov.va.medora.HttpAppender, HttpAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="source=TracAppender&amp;%message%newline" />
      </layout>
    </appender>
    -->
    <!-- Set default logging level to DEBUG -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>     
      <!--<appender-ref ref="TracAppender" />-->
      
    </root>

    <!-- Set logging for the tests to DEBUG -->
    <logger name="gov.va.medora">
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </logger>

    <!-- Set logging for Spring to INFO.  
         Logger names in Spring correspond to the namespace -->
    <logger name="Spring">
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </logger>

  </log4net>

  <applicationSettings>
    <gov.va.medora.mdws.test.Properties.Settings>
      <setting name="medora_webapp_test_NumiProxy_NumiService" serializeAs="String">
        <value>http://localhost:8734/NumiService.asmx</value>
      </setting>
      <setting name="mdws_test_EmrProxy_EmrSvc" serializeAs="String">
        <value>http://localhost:8734/EmrSvc.asmx</value>
      </setting>
    </gov.va.medora.mdws.test.Properties.Settings>
    <gov.va.medora.Properties.Settings>
      <setting name="medora_webapp_test_CohortProxy_CohortService" serializeAs="String">
        <value>http://localhost:8734/CohortService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_BaseProxy_BaseService" serializeAs="String">
        <value>http://localhost:8734/BaseService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_BhieProxy_BhieService" serializeAs="String">
        <value>http://localhost:8734/BhieService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_CallProxy_CallService" serializeAs="String">
        <value>http://localhost:8734/CallService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_ClinicalProxy_ClinicalService" serializeAs="String">
        <value>http://localhost:8734/ClinicalService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_CRIProxy_CRIService" serializeAs="String">
        <value>http://localhost:8734/CRIService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_PatientProxy_PatientService" serializeAs="String">
        <value>http://localhost:8734/PatientService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_MockVwsProxy_MockVwsService" serializeAs="String">
        <value>http://localhost:8734/MockVwsService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_UserMgtProxy_UserMgtService" serializeAs="String">
        <value>http://localhost:8734/UserMgtService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_MoveProxy_MoveService" serializeAs="String">
        <value>http://localhost:8734/MoveService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_TbiProxy_TbiService" serializeAs="String">
        <value>http://localhost:8734/TbiService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_MhvProxy_MhvService" serializeAs="String">
        <value>http://localhost:8734/MhvService.asmx</value>
      </setting>
      <setting name="mdws_test_NumiProxy_NumiService" serializeAs="String">
        <value>http://localhost:8734/NumiService.asmx</value>
      </setting>
      <setting name="medora_webapp_test_NumiProxy_NumiService" serializeAs="String">
        <value>http://localhost:8734/NumiService.asmx</value>
      </setting>
      <setting name="mdws_test_AthenaProxy_AthenaService" serializeAs="String">
        <value>http://localhost:8734/AthenaService.asmx</value>
      </setting>
      <setting name="mdws_test_mdws_test_ApolloProxy_ApolloService" serializeAs="String">
        <value>http://localhost:8734/ApolloService.asmx</value>
      </setting>
    </gov.va.medora.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
